/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #000028;
  --main-header-color: #DB00FF;
  --accent-color: #FF0070;
  --shadow-color: #FF0070;
  --text-color: #F1B2CE;
  --title-text-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
  --decoration-text: block;
  --hover-color: #FF007066;
}

.title-decor {
  --title-text-color:  #000028;
}

@media (prefers-color-scheme: dark) {
  .page.theme_auto {
    --bg-color: #000028;
    --main-header-color: #DB00FF;
    --accent-color: #FF0070;
    --text-color: #F1B2CE;
    --title-text-color: #FF0070;
    --bg-image: url(../images/cover-image-dark.png);
    --decoration-text: block;
    --hover-color: #FF007066;
  } 

  .title-decor {
    --title-text-color:  #000028;
  }
}