/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color);
  font-family: var(--main-font, Arial, sans-serif);
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0em;
  text-align: left;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

a:hover::after {
  content: '';
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 0;
  height: 3px;
  width: 100%;
  border-block-end: 1px solid currentColor;
}

a:focus {
  outline: none;
}

a:focus-visible::after {
  content:'';
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 1px;
  width: 100%;
  height: 1em;
  outline: 1px solid currentColor; 
}

.header {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  height: 100vh;
  min-height: 668px;
  padding-inline: 10px;
  display: grid;
  grid-template-rows: 1fr 192px 1fr;
  align-items: center;
  position: relative;
  font-family: var(--main-font, Arial, sans-serif);
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0em;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset-inline-start: 10px;
  inset-block-end: 10px;
  display: block;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--title-text-color);
  border-block-end: 1px solid var(--title-text-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  display: block;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--title-text-color);
  border-block-start: 1px solid var(--title-text-color);
}

.header__decorated-lamp {
  display: var(--decoration-text);
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 38px;
  line-height: 25px;
  color: var(--accent-color);
}

.header__decorated-lamp::after {
  content: '';
  position: absolute;
  inset-inline-start: 41.5px;
  inset-block-end: 7.5px;
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid currentColor;
  box-shadow: 0 0 4px 2px currentColor;
  background-color: currentColor;
  border-radius: calc(25px / 2);
}

.header__theme-menu-list {
  padding-block-start: 7px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 11px;
}

.header__theme-menu-button {
  padding-inline: 13px;
  font-family: inherit;
  font-size: 18px;
  text-transform: lowercase;
  color: var(--title-text-color);
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible:not(.header__theme-menu-button_active) {
  border-block-end: 1px solid currentColor;
}

.header__title,
.footer__text {
  margin-block-start: 0px;
  font-family: var(--main-font, Arial, sans-serif);
  color: var(--main-header-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 96px;
  letter-spacing: 0em;
  text-align: start;
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.header__text {
  margin-block-start: 55px;
  margin-block-end: auto;
  color: var(--title-text-color);
  font-weight: 700;
  background-color: var(--accent-color);
}

.content {
  padding-inline: 10px;
}

.heading {
  font-family: var(--main-font, Arial, sans-serif);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  letter-spacing: 0em;
  text-align: left;
}

.section {
  margin-block-start: 50px;
}

.section:first-of-type {
  margin-block-start: 40px;
}

.section__title {
  color: var(--title-text-color);
}

.article__title,
.advice__images__title {
  color: var(--title-text-color);
  background-color: var(--accent-color);
}

.article {
  margin-block-start: 20px;
}

.article__paragraph,
.advice__item__paragraph {
  padding-block-start: 10px;
}

.advice__item__title {
  margin-block-start: 20px;
  color: var(--title-text-color);
  background-color: var(--accent-color);
  font-weight: 400;
}

.advice__images__title {
  margin-block-end: 10px;
}

.advice__images {
  display: grid;
  gap: 10px;
}

.advice__image {
  width: 100%;
}

.footer {
  height: 100vh;
  min-height: 668px;
  position: relative;
  margin-block-start: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  text-shadow: 2px 2px 0 var(--shadow-color);
  padding: 0;
}

@media (width >= 768px) {
  .header {
    min-height: 1024px;
    padding-inline: 0;
  }
  
  .decorated-zone::before  {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }
  
  .decorated-zone::after {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .header__decorated-lamp {
    inset-block-start: 20px;
    inset-inline-end: 49px;
  }

  .header__theme-menu-list {
    padding-block-start: 63px;
    padding-inline-end: 20px;
  } 

  .header__title,
  .footer__text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    margin-block-start: 116px;
    margin-inline-start: 50%;
    margin-inline-end: 20px;
  }

  .content {
    padding-inline: 20px;
  }

  .section {
    margin-block-start: 80px;
  }

  .section:first-of-type {
    margin-block-start: 60px;
  }

  .section__title {
    padding-block-start: 0px;
  }

  .article:first-of-type {
    margin-block-start: 0px;
  }

  .section__explanations {
    display: grid;
    grid-template-columns: 236px auto;
    gap: 20px;
  }

  .reasons__title {
    grid-area: reasons__title;
  }

  .reasons__items {
    grid-area: reasons__items;
  }

  .section__reasons {
    display: grid;
    grid-template-columns: 236px auto;
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    grid-template-areas: 
    "reasons__title ."
    "reasons__items reasons__items";
  }

  .section__actions {
    display: grid;
    grid-template-columns: 236px auto;
    gap: 20px;
  }

  .advice__images {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    justify-items: stretch;
    grid-template-areas: 
    "sunset sunset ice-cream"
    "audio-cassette books ice-cream"
    "audio-cassette street street";
  }

  .advice__images__title {
    margin-block-end: 20px;
  }

  .advice__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .audio-cassette {
    grid-area: audio-cassette;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .footer {
    min-height: 1024px;
    margin-block-start: 60px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    padding-inline-end: 0;
    padding-block-start: 10px;
  }

  .header__theme-menu {
    align-self: start;
    margin-block-start: 10px;;
  }

  .header__text {
    margin-inline-start: 50%;
    margin-block-start: 83px;
  }

  .section {
    grid-template-columns: 315px auto;
  }

  .reasons__items {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }

  .reasons__items .article {
    width: calc((100% - 40px)  / 3 );
    margin-block-start: 0;
    flex-grow: 1;
  }

  .footer {
    min-height: 768px;
  }
}