
:root {
  --main-font: IBM Plex Mono;
  --bg-color: #000028;
  --main-header-color: #DB00FF;
  --accent-color: #FF0070;
  --shadow-color: #FF0070;
  --text-color: #F1B2CE;
  --title-text-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
  --decoration-text: block;
  --hover-color: #FF007066;
}

.title-decor {
  --title-text-color:  #000028;
}